
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="/">
                    <img src="~/img/logo.png" class="logo-image"/>
                </a>
            </div>

            <div class="col-sm-8  mt-auto">
                <button class="btn btn-light round-border align-right">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="left-separator"> 0Item - $0 </span>
                </button>
                <button class="btn btn-primary round-border align-right">UPLOAD PRESCRIPTION</button>
                <div class="input-group align-right" style="width: 200px">
                    <input type="text" class="form-control" placeholder="Search Medicines">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->
