@model IEnumerable<CartModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Order";
    List<ProductModel> arrProducts = (List<ProductModel>)ViewData["products"];
}

    <div class="box">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-striped" id="order-table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Image</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CartModel cart in Model)
                        {
                            <tr>
                                <td>
                                    @arrProducts.First(product => product.product_id == cart.cart_product).product_name
                                </td>
                                <td>
                                    <img src="@arrProducts.First(product => product.product_id == cart.cart_product).product_image" class="listview-item-image" />
                                </td>
                                <td>
                                    @cart.cart_product_count
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <br />
        <div>
            <label><b>Total Price : </b> &nbsp;$@ViewData["totalPrice"]</label>
        </div>
        @if (Model.Count() > 0 && Convert.ToBoolean(ViewData["canMake"]))
        {
            <br />
            <form action="/Order/Make">
                <div class="row">
                    <div class="col-8 offset-1">
                        <label for="order_address">Delivery Address</label>
                        <input id="order_address" name="order_address" class="form-control" required/>
                    </div>
                    <div class="col-3 mt-auto">
                        <button class="btn btn-primary" onclick="Order()">Order</button>
                    </div>
                </div>
            </form>
        }
    </div>

<!-- DataTables -->
@section Links {
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
}
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(function () {
            $('#order-table').DataTable();
        });

        function Order() {
            var r = confirm("Are you sure you want to order these products?");
            if (r == true) {
                $("#order-form").submit();
            }
        }
    </script>
}